<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PERSONAJES</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div class="mainContainer">
        <div class="card">
            <div class="face front">
                <img src="/public/assets/Card Foca principal.png" alt="">
            </div>
            <div class="face back">
                <img src="/public/assets/Card Foca.png" alt="">
                <div class="select" type="button"><a href="#">SELECCIONAR</a></div>
            </div>
        </div>
    </div>
</body>
</html>