<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Lstyle.css">
    <title>Login</title>
</head>
<body>
    <div class="main">
        <div class="container a-container" id="a-container">
            <form action="" class="form" id="a-form" method="post">
                <h2 class="form_title title">Crear un cuenta</h2>
                <div class="form_icons"></div>
                <span class="form_span">O use el email para registrarse</span>
                <input type="text" name="new_user" id="form_input" class="form_input" placeholder="Usuario">
                <input type="password" name="new_pass" id="form_input" class="form_input" placeholder="Contraseña">
                <input type="password" name="new_pass" id="form_input" class="form_input" placeholder="Contraseña">
                <button class="form_button button submit">Registrarse</button>
            </form>
            <!-- Final del Formulario Registro-->
        </div>

        <div class="container b-container" id="b-container">
            <form action="" method="post" class="form" id="b-form">
                <h2 class="form_title title">Inicia Sesión con qsy</h2>
                <div class="form_icons"></div>
                <input type="text" name="user" id="form_input" class="form_input" placeholder="Usuario">
                <input type="password" name="pass" id="form_input" class="form_input" placeholder="Contraseña">
                <a href="" class="form_link">¿Olvidaste tu contraseña?</a>
                <button class="form_button button submit">Iniciar Sesión</button>
            </form>
            <!-- Final del Formulario Login-->
        </div>

        <div class="switch" id="switch-cnt">
            <div class="switch_circle"></div>
            <div class="switch_circle switch_circle-t"></div>
            <div class="switch_container" id="switch-c1">
                <h2 class="switch_title title">¡Bienvenido de vuelta!</h2>
                <p class="switch_description description">
                    Para mantenerse conectado con nosotros por favor,<b>ingresá</b> con cuenta personal.
                </p>
                <button class="switch-button button switch-btn">Registrarse</button>
            </div>
            <div class="switch-container is-hidden" id="switch-c2">
                <h2 class="switch_title title">¿Sos Nuev@?</h2>
                <p class="switch_description description">
                    <b>Ingresá</b> tus detalles personales y <b>¡Empezá a disfrutar con nosotros!</b>
                </p>
                <button class="switch-button button switch-btn">Iniciar Sesión</button>
            </div>
        </div>
    </div>
</body>
</html>