<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="resources/css/Shark/styles-home.css">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container-shark">
        <div class="navbar">
            <div class="home"><img src="resources/assets/home.png" alt=""></div>
            <div class="text"><h3>Inicio</h3></div>
            <div class="menu"><img src="resources/assets/Frame.png" alt=""></div>
        </div>
        <div class="center-container"><img src="resources/assets/shark.png" alt="Character"></div>
        <div class="container-below">
            <div class="GeneralDiv divA"><img src="resources/assets/burbuja-de-dialogo 2.png" alt=""></div>
            <div class="divB"><img src="resources/assets/Line 10.png" alt=""></div>
            <div class="divC"><img src="resources/assets/casa 2.png" alt=""></div>
            <div class="divD"><img src="resources/assets/Line 10.png" alt=""></div>
            <div class="GeneralDiv divE"><a href="/shop"><img src="resources/assets/tienda 2.png" alt="Tienda"></a></div>
            <div class="divF"><img src="resources/assets/Line 10.png" alt=""></div>
            <div class="GeneralDiv divG"><img src="resources/assets/palanca de mando.png" alt=""></div>
        </div>
    </div>
</body>
</html>