/*---------------------CHARACTERS------------------------*/
body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: 100vh;
}

.OtterBody{
    background: #e2cdb2;
}

.mainContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    top: -112px;
}

.card-bottom{
    top: -10px;
}

.card .face{
    position: absolute;
    width: 400px;
    height: 650px;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card .front img{
    width: 70%;
}
.card .back{
    transform: perspective(600px) rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 20px;
}

.card .back img{
    width: 70%;
}

.card .back .select{
    display: none;
}

.card .back a {
    position: relative;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: aquamarine;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}