/*-------------------------------------- HOME ------------------------------------------*/
*{
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #FECB8C;
}

.left-container{
    height: 100vh;
    width: 40%;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.left-container h3{
    font-size: 60px;
    text-align: center;
    text-shadow: 0px 6px 5px #FFFFFF;
}

.left-container p{
    font-size: 40px;
    text-align: center;
}

.right-container2{
    display: flex;
    width: 60%;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.right-container2 .button{
    background-color: #C48C70;
    border: #C48C70;
    box-shadow: 4px 6px 4px #A26647;
    width: 40vh;
    height: 8vh;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-size: 30px;
    font-weight:bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-container2 .button a{
    text-decoration: none;
    color: #FFFFFF;
}

.frame{
    width: 95vh;
    height: 60vh;
    background-color: #FFD698;
    box-shadow: 10px 14px 4px #C48C70;
    border-radius: 50px;
    display: flex;
    align-items: center;
}